# Limpieza del dataset de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. El archivo contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com.

El dataset fue descargado hace algunos años y en ningún caso se obtuvo beneficio económico de ello.

Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos.

Agrega observaciones, conclusiones o notas acerca de los datos obtenidos en cada ejercicio.

In [1]:
import pandas as pd

#### Ejercicio 00

Lee el dataset data/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [2]:
# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
df = pd.read_csv('assets/real_estate.csv', sep=';')
df

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

## Trabajando con un DataFrame

#### Ejercicio 01

¿Cuál es la casa más cara del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Para visualizar el resultado utiliza un f-string. Por ejemplo:

```py
f'La casa más cara se encuentra en la dirección: {address} y su precio es {price} €'
```

In [9]:
"""casa_cara = df.sort_values(by='price').tail(1)
f"La casa mas cara se encuentra en la direccion: {casa_cara['address'].values[0]} y su precio es de {casa_cara['price'].values[0]} Euros" """

indice_casa_cara = df["price"].idxmax()
casa_cara = df.iloc[df['price'].idxmax()]
f"La casa mas cara se encuentra en la direccion: {casa_cara['address']} y su precio es de {casa_cara['price']} Euros"

'La casa mas cara se encuentra en la direccion: El Escorial y su precio es de 8500000 Euros'

La casa mas cara tiene un valor de 8.5 millones de Euros se encuentra en España precisamente en El Escorial.
Su valor se debe a su gran tamaño y gran cantidad de habitaciones, aunque no se especifican baños ni detalles, en su descrpcion encontramos que es un palacio

#### Ejercicio 02

¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada utilizando f-string

In [ ]:
casa_barata = df.loc[df[df["price"] > 0]["price"].idxmin()]
f"La casa mas barata se encuentra en la direccion: {casa_barata['address']} y su precio es de {casa_barata['price']} Euros"

'La casa mas barata se encuentra en la direccion: Berlin, Coslada y su precio es de 600 Euros'

hemos tenido que filtrar la busqueda de las casas para conseguir la mas barata con un precio, ya que existen casas con su precio a 0, lo cual da a entender que no estan a la venta o no deben tener una estimazion segun su carateisticas. igualmente se podria hacer una investigacion para conseguir su precio basandonos en su zona y calculando el m2, si existen casas en las mismas poblaciones con precio estabelcido.

#### Ejercicio 03

¿Cuál es la casa más grande del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas utilizando f-string

In [14]:
casa_con_area = df['surface'].notna()
casa_con_area = df[casa_con_area]
casa_grande = df.iloc[df['surface'].idxmax()]
f"La casa mas grande se encuentra en {casa_grande['address']} y su superficie es de {casa_grande['surface']}m2"

'La casa mas grande se encuentra en Sevilla la Nueva y su superficie es de 249000.0m2'

Aca nuevamente se ha tenido que filtrar la busqueda para encontrar casas con valeres de superficie, probablemente se deba a falta de medidas o inclusion de datos.

#### Ejercicio 04

¿Cuál es la casa más pequeña del dataset? (★☆☆)

In [16]:
casa_con_area = df['surface'].notna()
casa_con_area = df[casa_con_area]
casa_pequeña = df.iloc[df['surface'].idxmin()]
f"La casa mas pequeña se encuentra en {casa_pequeña['address']} y su area es de {casa_pequeña['surface']}m2"

'La casa mas pequeña se encuentra en Calle Amparo,  Madrid Capital y su area es de 15.0m2'

#### Ejercicio 05.

¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

- Muestra el nombre de las filas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.
- También muestra el nombre de las columnas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.

In [23]:
tiene_na = df.isna().any(axis=1)
tiene_na

0        True
1        True
2        True
3        True
4        True
         ...
15330    True
15331    True
15332    True
15333    True
15334    True
Length: 15335, dtype: bool

In [24]:
tiene_na =  df.isna().any(axis=0)
tiene_na

Unnamed: 0          False
id_realEstates      False
isNew               False
realEstate_name      True
phone_realEstate     True
url_inmueble        False
rooms                True
bathrooms            True
surface              True
price               False
date                False
description          True
address             False
country             False
level1              False
level2              False
level3              False
level4               True
level5              False
level6               True
level7               True
level8               True
upperLevel          False
countryId           False
level1Id            False
level2Id            False
level3Id            False
level4Id            False
level5Id            False
level6Id            False
level7Id            False
level8Id            False
accuracy            False
latitude            False
longitude           False
zipCode              True
customZone           True
dtype: bool

En este ejerciico apreciamos que todas las filas poseen al menos un dato NA a diferencia de las Columnas que es mixto aunque su mayoria no contienen datos NA

#### Ejercicio 06.

Elimina las columnas que contengan NAs del dataset, si aplica (★★☆)

Muestra las dimensiones del DataFrame original y del DataFrame después de las eliminaciones.

In [ ]:
df_sin_todos_na = df.dropna(axis=1, how="all")
f' Columnas totales: {len(df.columns)} columnas totales sin Na {len(df_sin_todos_na.columns)}'

' Columnas totales: 37 columnas totales sin Na 35'

Aqui luego de filtrar las columnas que sean todos sus elementos NA, se eliminan dejando el DF con dos columnas menos, de 37 a 35

#### Ejercicio 07

¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

- Muestra una lista con los nombres de las poblaciones
- Muestra el total de las mismas

In [28]:
cont_poblaciones = df['level5'].unique()
cont_poblaciones

array(['Arganda del Rey', 'Fuenlabrada', 'Boadilla del Monte',
       'Las Rozas de Madrid', ' Madrid Capital', 'Villaviciosa de Odón',
       'Pinto', 'Valdemoro', 'Navalcarnero', 'Pozuelo de Alarcón',
       'Torrejón de Ardoz', 'Navalagamella', 'San Sebastián de los Reyes',
       'Rivas-vaciamadrid', 'Alpedrete', 'Móstoles',
       'San Fernando de Henares', 'Coslada', 'Becerril de la Sierra',
       'Alcalá de Henares', 'Chinchón', 'Parla', 'Alcorcón',
       'El Escorial', 'Leganés', 'Pedrezuela', 'Majadahonda',
       'Villanueva de la Cañada', 'Villanueva del Pardillo',
       'Torrelodones', 'Moralzarzal', 'Mejorada del Campo', 'Aranjuez',
       'Corpa', 'Getafe', 'Velilla de San Antonio', 'Sevilla la Nueva',
       'San Martín de la Vega', 'Villalbilla', 'Collado Villalba',
       'Alcobendas', 'El Molar (Madrid)', 'Moraleja de Enmedio', 'Algete',
       'Campo Real', 'Torrejón de la Calzada', 'Colmenar Viejo',
       'Valdemorillo', 'Fuente El Saz de Jarama', 'Tres Cantos',
       'Arroyomolinos (Madrid)', 'Griñón', 'Paracuellos de Jarama',
       'Guadarrama', 'Titulcia', 'Galapagar', 'Collado Mediano',
       'Los Molinos', 'San Lorenzo de El Escorial', 'Loeches',
       'San Martín de Valdeiglesias', 'Navas del Rey', 'Bustarviejo',
       'Manzanares El Real', 'Carabaña', 'Casarrubuelos', 'Cercedilla',
       'Fresnedillas de la Oliva', 'Valdemaqueda', 'Robledo de Chavela',
       'Miraflores de la Sierra', 'Humanes de Madrid',
       'Valdetorres de Jarama', 'San Agustín del Guadalix',
       'Ciempozuelos', 'Camarma de Esteruelas', 'Torres de la Alameda',
       'Talamanca de Jarama', 'El Atazar', 'Hoyo de Manzanares',
       'El Boalo - Cerceda – Mataelpino', 'El Álamo', 'Valdilecha',
       'Valdeolmos-Alalpardo', 'Guadalix de la Sierra',
       'Belmonte de Tajo', 'El Vellón', 'Brunete', 'Redueña',
       'Morata de Tajuña', 'Tielmes', 'Gargantilla del Lozoya', 'Meco',
       'Venturada', 'Quijorna', 'Cenicientos', 'Torrejón de Velasco',
       'Navacerrada', 'Santa María de la Alameda', 'Orusco de Tajuña',
       'Daganzo de Arriba', 'Villamanta', 'Anchuelo', 'Valdaracete',
       'Ajalvir', 'Los Santos de la Humosa', 'Villamanrique de Tajo',
       'Colmenar de Oreja', 'Villa del Prado', 'Fuentidueña de Tajo',
       'Colmenar del Arroyo', 'Valdelaguna', 'Cubas de la Sagra',
       'Valdeavero', 'Aldea del Fresno', 'Ribatejada', 'Torrelaguna',
       'Batres', 'Pezuela de las Torres', 'Colmenarejo',
       'Serranillos del Valle', 'Cobeña', 'Soto del Real', 'El Berrueco',
       'Villanueva de Perales', 'Fresno de Torote - Serracines',
       'Pozuelo del Rey', 'Pelayos de la Presa', 'La Cabrera',
       'Nuevo Baztán', 'Perales de Tajuña', 'Villaconejos',
       'Villarejo de Salvanés', 'Cadalso de los Vidrios', 'Santorcaz',
       'Madarcos', 'Garganta de los Montes', 'Puentes Viejas',
       'Torremocha de Jarama', 'Valdemanco', 'Braojos',
       'Lozoyuela-navas-sieteiglesias', 'Piñuécar-gandullas',
       'Valdepiélagos', 'Valverde de Alcalá', 'Villar del Olmo',
       'Villamantilla', 'Horcajo de la Sierra', 'Gascones', 'Zarzalejo',
       'Villavieja del Lozoya', 'Brea de Tajo', 'Estremera', 'Chapinería',
       'Navarredonda', 'Patones', 'Ambite', 'Navalafuente', 'Lozoya',
       'Canencia', 'Cabanillas de la Sierra', 'Buitrago del Lozoya',
       'Fresno de Torote', 'Robregordo', 'Pinilla del Valle', 'Rascafría',
       'La Hiruela', 'Montejo de la Sierra'], dtype=object)

In [29]:
lista_poblaciones = df['level5']
lista_poblaciones.to_list()

['Arganda del Rey',
 'Fuenlabrada',
 'Boadilla del Monte',
 'Fuenlabrada',
 'Arganda del Rey',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Pinto',
 'Valdemoro',
 'Navalcarnero',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 'Torrejón de Ardoz',
 'Navalagamella',
 'San Sebastián de los Reyes',
 ' Madrid Capital',
 'Rivas-vaciamadrid',
 'Alpedrete',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Móstoles',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'San Fernando de Henares',
 'Coslada',
 ' Madrid Capital',
 'Becerril de la Sierra',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcalá de Henares',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Pinto',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Chinchón',
 ' Madrid Capital',
 'Parla',
 ' Madrid Capital',
 'Parla',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcorcón',
 ' Madrid Capital',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 'El Escorial',
 'Pozuelo de Alarcón',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Leganés',
 'Parla',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Boadilla del Monte',
 'Pedrezuela',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Majadahonda',
 'Villanueva de la Cañada',
 'Villanueva del Pardillo',
 'Las Rozas de Madrid',
 'Villanueva del Pardillo',
 'Alcorcón',
 'Torrelodones',
 ' Madrid Capital',
 ' Madrid Capital',
 'Moralzarzal',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'San Sebastián de los Reyes',
 'Mejorada del Campo',
 'Coslada',
 'Coslada',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Aranjuez',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Moralzarzal',
 ' Madrid Capital',
 'Navalcarnero',
 ' Madrid Capital',
 'Villanueva del Pardillo',
 ' Madrid Capital',
 'Rivas-vaciamadrid',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcalá de Henares',
 'Alcalá de Henares',
 'Corpa',
 'Alcalá de Henares',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Móstoles',
 'Móstoles',
 'Móstoles',
 ' Madrid Capital',
 ' Madrid Capital',
 'Valdemoro',
 ' Madrid Capital',
 'Fuenlabrada',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Navalcarnero',
 ' Madrid Capital',
 ' Madrid Capital',
 'Getafe',
 'Las Rozas de Madrid',
 'Majadahonda',
 'Majadahonda',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Villanueva del Pardillo',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Velilla de San Antonio',
 ' Madrid Capital',
 ' Madrid Capital',
 'Leganés',
 'Majadahonda',
 ' Madrid Capital',
 ' Madrid Capital',
 'Leganés',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Parla',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Valdemoro',
 'Valdemoro',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Fuenlabrada',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alpedrete',
 ' Madrid Capital',
 'Fuenlabrada',
 'Boadilla del Monte',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Fuenlabrada',
 ' Madrid Capital',
 'Getafe',
 'Getafe',
 ' Madrid Capital',
 ' Madrid Capital',
 'Fuenlabrada',
 ' Madrid Capital',
 'San Sebastián de los Reyes',
 'Sevilla la Nueva',
 ' Madrid Capital',
 'Boadilla del Monte',
 ' Madrid Capital',
 ' Madrid Capital',
 'San Martín de la Vega',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villalbilla',
 'Alcalá de Henares',
 'Parla',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Móstoles',
 ' Madrid Capital',
 'Alcalá de Henares',
 'Alcalá de Henares',
 'Collado Villalba',
 'Parla',
 ' Madrid Capital',
 'Collado Villalba',
 'Torrejón de Ardoz',
 ' Madrid Capital',
 'Arganda del Rey',
 'Arganda del Rey',
 'Getafe',
 ' Madrid Capital',
 ' Madrid Capital',
 'Leganés',
 ' Madrid Capital',
 'Villalbilla',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 'Alcobendas',
 'Alcobendas',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Aranjuez',
 ' Madrid Capital',
 ' Madrid Capital',
 'Parla',
 'Alcalá de Henares',
 ' Madrid Capital',
 'Alcalá de Henares',
 ' Madrid Capital',
 ' Madrid Capital',
 'El Molar (Madrid)',
 ' Madrid Capital',
 ' Madrid Capital',
 'Rivas-vaciamadrid',
 ' Madrid Capital',
 'Rivas-vaciamadrid',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Valdemoro',
 'Móstoles',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcalá de Henares',
 'Alcalá de Henares',
 'Moraleja de Enmedio',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Las Rozas de Madrid',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Fuenlabrada',
 'Mejorada del Campo',
 'Leganés',
 'Algete',
 'Collado Villalba',
 ' Madrid Capital',
 ' Madrid Capital',
 'Navalcarnero',
 ' Madrid Capital',
 ' Madrid Capital',
 'Arganda del Rey',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Torrelodones',
 ' Madrid Capital',
 'Leganés',
 ' Madrid Capital',
 'Alcobendas',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Móstoles',
 ' Madrid Capital',
 'Campo Real',
 ' Madrid Capital',
 'Collado Villalba',
 'San Sebastián de los Reyes',
 'Torrejón de la Calzada',
 'Parla',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcobendas',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcalá de Henares',
 'Pinto',
 'Pinto',
 ' Madrid Capital',
 ' Madrid Capital',
 'Las Rozas de Madrid',
 'Getafe',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Colmenar Viejo',
 'Fuenlabrada',
 'Collado Villalba',
 'Collado Villalba',
 'Collado Villalba',
 'Valdemorillo',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcobendas',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Torrejón de la Calzada',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Las Rozas de Madrid',
 'Majadahonda',
 'Parla',
 'Valdemoro',
 ' Madrid Capital',
 'Fuente El Saz de Jarama',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Rivas-vaciamadrid',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 'Getafe',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Boadilla del Monte',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcobendas',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Parla',
 'Tres Cantos',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Torrejón de Ardoz',
 'Torrejón de Ardoz',
 'Torrejón de Ardoz',
 'Alcobendas',
 'Boadilla del Monte',
 ' Madrid Capital',
 ' Madrid Capital',
 'Arroyomolinos (Madrid)',
 ' Madrid Capital',
 'Alcalá de Henares',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcobendas',
 ' Madrid Capital',
 'Griñón',
 ' Madrid Capital',
 'Getafe',
 'Leganés',
 'Getafe',
 'Getafe',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 ' Madrid Capital',
 'Parla',
 'Parla',
 ' Madrid Capital',
 'Valdemoro',
 'Valdemoro',
 'Rivas-vaciamadrid',
 'Las Rozas de Madrid',
 'Paracuellos de Jarama',
 'Pozuelo de Alarcón',
 'Parla',
 'Coslada',
 ' Madrid Capital',
 'Alcalá de Henares',
 ' Madrid Capital',
 'Guadarrama',
 'Collado Villalba',
 ' Madrid Capital',
 'Leganés',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Navalcarnero',
 ' Madrid Capital',
 'Getafe',
 ' Madrid Capital',
 'Alcalá de Henares',
 'Valdemoro',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Parla',
 'Parla',
 'Villanueva de la Cañada',
 ' Madrid Capital',
 'Alcalá de Henares',
 ' Madrid Capital',
 'Rivas-vaciamadrid',
 'Getafe',
 'Parla',
 'Getafe',
 ' Madrid Capital',
 ' Madrid Capital',
 'Fuenlabrada',
 'Alcalá de Henares',
 'Alcalá de Henares',
 'Alcalá de Henares',
 'Becerril de la Sierra',
 ' Madrid Capital',
 ' Madrid Capital',
 'Parla',
 'Parla',
 'Navalcarnero',
 'Parla',
 'Titulcia',
 ' Madrid Capital',
 'Alcalá de Henares',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Torrejón de Ardoz',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcobendas',
 'Alcobendas',
 'Alcalá de Henares',
 ' Madrid Capital',
 ' Madrid Capital',
 'Getafe',
 'Valdemorillo',
 ' Madrid Capital',
 'Collado Villalba',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Paracuellos de Jarama',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Galapagar',
 'Pinto',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Pozuelo de Alarcón',
 'Collado Villalba',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcalá de Henares',
 ' Madrid Capital',
 'Collado Mediano',
 'Los Molinos',
 ' Madrid Capital',
 ' Madrid Capital',
 'Rivas-vaciamadrid',
 ' Madrid Capital',
 'Getafe',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Móstoles',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Parla',
 'Villaviciosa de Odón',
 'Aranjuez',
 'Arroyomolinos (Madrid)',
 'Parla',
 'San Lorenzo de El Escorial',
 'Alcalá de Henares',
 ' Madrid Capital',
 ' Madrid Capital',
 'Arroyomolinos (Madrid)',
 ' Madrid Capital',
 ' Madrid Capital',
 'Torrelodones',
 'Galapagar',
 ' Madrid Capital',
 ' Madrid Capital',
 'Tres Cantos',
 ' Madrid Capital',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 'Coslada',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 'Coslada',
 ' Madrid Capital',
 ' Madrid Capital',
 'Torrelodones',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 ' Madrid Capital',
 'Fuenlabrada',
 'Alcobendas',
 ' Madrid Capital',
 'Parla',
 'Coslada',
 ' Madrid Capital',
 'Alcobendas',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Parla',
 'Loeches',
 'Alcobendas',
 'Alcalá de Henares',
 ' Madrid Capital',
 ' Madrid Capital',
 'Aranjuez',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Coslada',
 ' Madrid Capital',
 ' Madrid Capital',
 'Leganés',
 ' Madrid Capital',
 'Las Rozas de Madrid',
 ' Madrid Capital',
 'Majadahonda',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Coslada',
 'San Martín de Valdeiglesias',
 'Móstoles',
 ' Madrid Capital',
 ' Madrid Capital',
 'Navas del Rey',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 ' Madrid Capital',
 ' Madrid Capital',
 'Coslada',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Coslada',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Rivas-vaciamadrid',
 ' Madrid Capital',
 ' Madrid Capital',
 'Bustarviejo',
 'San Sebastián de los Reyes',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'San Lorenzo de El Escorial',
 ' Madrid Capital',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 'Pozuelo de Alarcón',
 ' Madrid Capital',
 'Manzanares El Real',
 'Colmenar Viejo',
 'Arroyomolinos (Madrid)',
 'El Escorial',
 ' Madrid Capital',
 ' Madrid Capital',
 'Pinto',
 ' Madrid Capital',
 ' Madrid Capital',
 'Manzanares El Real',
 ' Madrid Capital',
 'Getafe',
 'Pozuelo de Alarcón',
 'Leganés',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 'Pozuelo de Alarcón',
 ' Madrid Capital',
 'Majadahonda',
 'El Escorial',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Galapagar',
 ' Madrid Capital',
 'Galapagar',
 ' Madrid Capital',
 'Getafe',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Carabaña',
 'San Sebastián de los Reyes',
 'El Molar (Madrid)',
 ' Madrid Capital',
 ' Madrid Capital',
 'Villanueva del Pardillo',
 ' Madrid Capital',
 'Casarrubuelos',
 'Parla',
 'Cercedilla',
 ' Madrid Capital',
 'Boadilla del Monte',
 'San Sebastián de los Reyes',
 ' Madrid Capital',
 'Las Rozas de Madrid',
 'Getafe',
 'Getafe',
 ' Madrid Capital',
 'Getafe',
 'El Molar (Madrid)',
 ' Madrid Capital',
 'Villanueva de la Cañada',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Alcorcón',
 'Rivas-vaciamadrid',
 'Fresnedillas de la Oliva',
 'Fuenlabrada',
 ' Madrid Capital',
 'Fuenlabrada',
 'Algete',
 ' Madrid Capital',
 ' Madrid Capital',
 'Boadilla del Monte',
 'Las Rozas de Madrid',
 'Leganés',
 'Valdemaqueda',
 'Leganés',
 'El Escorial',
 'San Lorenzo de El Escorial',
 'Alpedrete',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Robledo de Chavela',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Miraflores de la Sierra',
 'Velilla de San Antonio',
 ' Madrid Capital',
 'Móstoles',
 ' Madrid Capital',
 ' Madrid Capital',
 'Getafe',
 ' Madrid Capital',
 ' Madrid Capital',
 'Majadahonda',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcorcón',
 'Pozuelo de Alarcón',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcalá de Henares',
 'Villanueva de la Cañada',
 'Alcobendas',
 'Valdemorillo',
 'Navalcarnero',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Alcorcón',
 'Pinto',
 ' Madrid Capital',
 'Humanes de Madrid',
 'San Martín de la Vega',
 'San Sebastián de los Reyes',
 ' Madrid Capital',
 'Las Rozas de Madrid',
 ' Madrid Capital',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Torrelodones',
 'Las Rozas de Madrid',
 ' Madrid Capital',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Las Rozas de Madrid',
 'Alcorcón',
 'Las Rozas de Madrid',
 'Fuenlabrada',
 ' Madrid Capital',
 ' Madrid Capital',
 'Leganés',
 ' Madrid Capital',
 'Arroyomolinos (Madrid)',
 ' Madrid Capital',
 'Arroyomolinos (Madrid)',
 'Arroyomolinos (Madrid)',
 'Alcorcón',
 'Navalcarnero',
 'Arroyomolinos (Madrid)',
 'Arroyomolinos (Madrid)',
 'Leganés',
 'Parla',
 'Fuenlabrada',
 'Fuenlabrada',
 'Leganés',
 'Parla',
 'Parla',
 'Fuenlabrada',
 'Alcorcón',
 'Torrelodones',
 'Pinto',
 ' Madrid Capital',
 ' Madrid Capital',
 'Pinto',
 ' Madrid Capital',
 'Pinto',
 'Alcalá de Henares',
 'Alcalá de Henares',
 'Pinto',
 'Pinto',
 'Pinto',
 'Parla',
 'Pinto',
 'Pinto',
 'Pinto',
 'Pinto',
 'Pinto',
 'Pinto',
 'Pinto',
 'Alcorcón',
 'Valdemoro',
 ' Madrid Capital',
 ' Madrid Capital',
 'Guadarrama',
 ' Madrid Capital',
 ' Madrid Capital',
 'Boadilla del Monte',
 'Boadilla del Monte',
 'Getafe',
 'Getafe',
 'Las Rozas de Madrid',
 'San Sebastián de los Reyes',
 'San Sebastián de los Reyes',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Las Rozas de Madrid',
 'Torrejón de Ardoz',
 ' Madrid Capital',
 'Torrejón de Ardoz',
 'San Sebastián de los Reyes',
 'Valdetorres de Jarama',
 'Rivas-vaciamadrid',
 'San Sebastián de los Reyes',
 'Algete',
 'San Sebastián de los Reyes',
 'San Sebastián de los Reyes',
 'San Sebastián de los Reyes',
 'Algete',
 'Fuente El Saz de Jarama',
 'Velilla de San Antonio',
 'San Agustín del Guadalix',
 'San Sebastián de los Reyes',
 ' Madrid Capital',
 ' Madrid Capital',
 'Velilla de San Antonio',
 ' Madrid Capital',
 ' Madrid Capital',
 'Torrelodones',
 'Velilla de San Antonio',
 'Velilla de San Antonio',
 'Móstoles',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'Alcalá de Henares',
 'Navas del Rey',
 'Parla',
 'Móstoles',
 'Collado Villalba',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 'Ciempozuelos',
 'Fuenlabrada',
 'Fuenlabrada',
 ' Madrid Capital',
 'Collado Villalba',
 'Alcorcón',
 ' Madrid Capital',
 'Collado Villalba',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'El Escorial',
 'Velilla de San Antonio',
 ' Madrid Capital',
 'Parla',
 'Parla',
 'Parla',
 'Parla',
 'Ciempozuelos',
 'Alcalá de Henares',
 'Navas del Rey',
 'Parla',
 'Móstoles',
 'Collado Villalba',
 'Villaviciosa de Odón',
 'Villaviciosa de Odón',
 ' Madrid Capital',
 'Ciempozuelos',
 'Fuenlabrada',
 'Fuenlabrada',
 ' Madrid Capital',
 'Collado Villalba',
 'Alcorcón',
 ' Madrid Capital',
 'Collado Villalba',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 ' Madrid Capital',
 'El Escorial',
 'Velilla de San Antonio',
 ' Madrid Capital',
 'Parla',
 'Parla',
 'Parla',
 'Parla',
 'Ciempozuelos',
 ' Madrid Capital',
 ' Madrid Capital',
 'Camarma de Esteruelas',
 'Camarma de Esteruelas',
 'Alcalá de Henares',
 ...]

In [31]:
f' Son un total de {len(cont_poblaciones)} poblaciones'

' Son un total de 168 poblaciones'

vemos que al realizar la lista de poblaciones nos damos cuenta que hay muchas locaciones repetidas, pero al contarlas solo por valores da un total de 168. lo cual nos simplifica mucho la tarea de buscarlas

#### Ejercicio 08

¿Cuál es la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

In [33]:
casas_en_arroyomolinos = df[df['level5'] == 'Arroyomolinos (Madrid)']
casas_en_arroyomolinos

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
453,454,153843083,False,akris arguelles,911792694.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,85.0,165338,...,0,0,0,0,0,0,"40,27657","-3,91864",NaN,NaN
607,608,153620088,False,100 home red inmobiliaria,912669623.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,3.0,225.0,251646,...,0,0,0,0,0,0,"40,2568635154027","-3,91214199444133",NaN,NaN
613,614,153478908,False,mares inmobiliaria,911794026.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,4.0,257.0,396000,...,0,0,0,0,0,1,"40,2839697","-3,9268743",NaN,NaN
707,708,153736961,False,gm house,916357589.0,https://www.fotocasa.es/es/comprar/vivienda/po...,3.0,2.0,110.0,225000,...,0,0,0,0,0,0,"40,2779047","-3,9136693",NaN,NaN
852,853,153274493,False,gm house,916357589.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,280.0,373000,...,0,0,0,0,0,0,"40,2827315","-3,9120264",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15019,15020,152767314,False,haya real estate,911227078.0,https://www.fotocasa.es/vivienda/getafe/calle-...,3.0,2.0,143.0,218000,...,0,0,0,0,0,0,"40,27849764","-3,91184112",NaN,NaN
15089,15090,152767395,False,haya real estate,911227078.0,https://www.fotocasa.es/es/comprar/vivienda/ar...,3.0,2.0,140.0,230000,...,0,0,0,0,0,0,"40,27849764","-3,91184112",NaN,NaN
15091,15092,152767377,False,haya real estate,911227078.0,https://www.fotocasa.es/es/comprar/vivienda/ar...,3.0,2.0,143.0,217000,...,0,0,0,0,0,0,"40,27849764","-3,91184112",NaN,NaN
15094,15095,152767335,False,haya real estate,911227078.0,https://www.fotocasa.es/es/comprar/vivienda/ar...,3.0,2.0,142.0,227000,...,0,0,0,0,0,0,"40,27849764","-3,91184112",NaN,NaN
15192,15193,146831440,False,miranda servicios inmobiliarios,912789124.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,300.0,462000,...,0,0,0,0,0,0,"40,270392","-3,90373610000006",NaN,NaN

In [34]:
f"El promedio de precio de las casas en arroyomolinos es de {int(casas_en_arroyomolinos['price'].mean())}"

'El promedio de precio de las casas en arroyomolinos es de 294541'

Filtramos los datos para enfocarnos solo en una poblacion y asi buscar facilmente su precio promedio.

#### Ejercicio 09.

¿Los precios promedios de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

- Muestra ambos promedios
- Escribe en una celda markdown una conclusión sobre ellos

In [ ]:
casas_en_valdemorillo = df[df['level5'] == 'Valdemorillo']
casas_en_galapagar = df[df['level5'] == 'Galapagar']
media_valdemorillo = casas_en_valdemorillo['price'].mean()
media_galapagar = casas_en_galapagar['price'].mean()
f' los precios promedio de galapagar son {round(media_galapagar,2)} Euros y de valdemorillo son {round(media_valdemorillo,2)} Euros'

#

' los precios promedio de galapagar son 360063.2 Euros y de valdemorillo son 363860.29 Euros'

Los precios de ambas ubicaciones son diferentes al hacer la comparacion genero un booleano Falso, que implica su desigualdad, ademas a primera vista se aprecia que valdemorillo tiene un valor un poco mas alto 
pero ambas zonas parecen ser similares en costos o cual podria ser similar la inversion en cada una.

#### Ejercicio 10

¿Los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

> Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

- Muestra ambos promedios de precio por metro cuadrado
- Escribe en una celda markdown una conclusión sobre ellos

In [38]:
df['pps'] = df['price'] / df['surface']
df

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN,1893.203883
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN,3939.393939
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN,1034.883721
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN,1622.641509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN,2702.812500
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN,1100.000000
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN,2828.571429
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN,1930.693069
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN,5032.894737

In [43]:
df_galapagar = df[df['level5'] == 'Galapagar']
df_valdemorillo = df[df['level5'] == 'Valdemorillo']


f' El valor promedio de m2 de galapagar es de: {round(df_galapagar.pps.mean(),2)} y el de valdemorillo es de {round(df_valdemorillo.pps.mean(),2)}'

' El valor promedio de m2 de galapagar es de: 1606.32 y el de valdemorillo es de 1317.95'

Al buscar el precio de metro cuadrado basandonos en surface de cada una de las casas en venta en ambas zonas nos dio como resultado promedios muy diferentes en cada zona siendo el de galapagar el promedio por m2 mas alto.
a la hora de invertir la diferencia por metro puede generar gran diferencia

#### Ejercicio 11

¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

- Muestra el valor obtenido.

In [ ]:
cont_inmobiliarias = df['realEstate_name'].value_counts()
f' hay: {len(cont_inmobiliarias)} inmobiliarias'

' hay: 1821 inmobiliarias'

#### Ejercicio 12

¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

- Muestra la población y el número de casas.

In [ ]:
cont_poblaciones = df['level5'].value_counts()
cont_poblaciones.head(1)

level5
Madrid Capital    6643
Name: count, dtype: int64

Madrid capital es la zona con mas casas a la venta, igualmente al ser una zona tan grande lo mejor seria filtrar por niveles mas bajos o localidades mas pequeñas a la hora de querer comprar una casa o comparar precios

---

## Trabajando con un subconjunto del DataFrame

#### Ejercicio 13

Ahora vamos a trabajar con el "cinturón sur" de Madrid.

Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

> Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [45]:
df_cinturon_sur = df[df['level5'].isin(["Fuenlabrada", "Leganés", "Getafe", "Alcorcón"])]
df_cinturon_sur

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN,1034.883721
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN,2140.000000
94,95,153995577,False,viviendas365com,911226014.0,https://www.fotocasa.es/es/comprar/vivienda/le...,3.0,2.0,120.0,320000,...,0,0,0,0,0,"40,31933","-3,77574",NaN,NaN,2666.666667
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN,2992.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15275,15276,153903887,False,aliseda servicios de gestion inmobiliaria,911368198.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,1.0,78.0,138000,...,0,0,0,0,1,"40,31381","-3,83733",NaN,NaN,1769.230769
15291,15292,151697757,False,unipiso,912788631.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,2.0,110.0,279000,...,0,0,0,0,0,"40,3259051","-3,76318",NaN,NaN,2536.363636
15305,15306,153902389,False,jadein ferrero,914871639.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,85.0,170000,...,0,0,0,0,0,"40,2882193","-3,8098617",NaN,NaN,2000.000000
15322,15323,153871864,False,gestion comercial,911220662.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,91.0,112000,...,0,0,0,0,0,"40,28282","-3,78892",NaN,NaN,1230.769231
15325,15326,153901467,False,montehogar 68,911790675.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,215000,...,0,0,0,0,1,"40,28062","-3,79869",NaN,NaN,2171.717172

#### Ejercicio 14

Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (★★★)

> Debes usar el subset obtenido en la pregunta 13

- Crea y visualiza un diccionario con todos los valores

In [ ]:
media = df_cinturon_sur[['price','rooms', 'surface','bathrooms']].mean()
media.to_dict()

{'price': 223094.48070562293,
 'rooms': 3.0177383592017737,
 'surface': 111.75222363405337,
 'bathrooms': 1.633221850613155}

In [ ]:
varianza = df_cinturon_sur[['price','rooms', 'surface','bathrooms']].var()
varianza.to_dict()

{'price': 14921367508.04902,
 'rooms': 0.7188858892927542,
 'surface': 4263.051760316337,
 'bathrooms': 0.5717968625577321}

#### Ejercicio 15

¿Cuál es la casa más cara de cada población del cinturón sur de Madríd? (★★☆)

> Debes usar el subset obtenido en la pregunta 13

- Genera un DataFrame con esta información
- Muestra tanto la dirección como el precio de la casa seleccionada de cada población.
- Genera conclusiones en una celda markdown

In [ ]:
casas_caras_pobla_sur = df_cinturon_sur.loc[df_cinturon_sur.groupby('level5')['price'].idxmax()]
casas_caras_pobla_sur[['address','price']]

                                     address    price
5585                                Alcorcón   950000
11561  Calle de Paulo Freire, 5, Fuenlabrada   490000
2881                                  Getafe  1050000
10412           Avenida Reina Sofía, Leganés   650000

Reducimos la lista a nuestro Top por poblacion y vemos que Getafe es la poblacion que tiene la casa mas cara, con precio de 1.05 millones, que aun asi no se acerca a la casa mas cara de toda la muestra que era de 8.5 millones.

#### Ejercicio 16

¿Qué puedes decir acerca del precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? (★★☆)

> Debes usar el subset obtenido en la pregunta 13
>
> Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [ ]:
df_getafe = df_cinturon_sur[df_cinturon_sur['level5'] == 'Getafe']
df_alcorcon = df_cinturon_sur[df_cinturon_sur['level5'] == 'Alcorcón']


f' El valor promedio de m2 de Getafe es de: {round(df_getafe.pps.mean(),2)} y el de Alcorcón es de {round(df_alcorcon.pps.mean(),2)}'

' El valor promedio de m2 de getafe es de: 2066.31 y el de Alcorcón es de 2239.3'

Al revisar los datos, en el cinturon sur para las poblaciones especificas de Getafe y Alcorcón, vemos que su precio promedio de m2 no son iguales, 
El precio de Alcorcón esta alrededor de 200 euros por arriba, quizas al encontrar casas con pocos m2 cuadrados no pueda notarse pero cuando sean casas de al menos 100m2 la diferencia 
puede superar los 20 mil euros.

## Conclusiones

#### Ejercicio 17

El proyecto proporcionó una visión clara de la estructura de precios del mercado inmobiliario, permitiendo identificar las zonas premium y las zonas más asequibles. Las capacidades de Pandas fueron fundamentales para realizar manipulaciones de datos y generar métricas  que ofrecen un panorama completo de las dinámicas de precios y ventas de las propiedades.